#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: red;
}


*{
  margin:0;
  padding:0;
text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: lightblue;
  color: white;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items: center;
  padding:20px 15px;
}

.logo{
  font-size: 25px;
}

.bars{
  display: flex;
  font-size: 25px;
  margin-left: 30px;
}
.link{
  display: flex;
  color: white;
  padding: 5px 15px;
  gap: 15px;
  transform: all 0.5s;
}
.link:hover{
  background:lightskyblue;
  color: white;
  transition: all 0.5s
}
.active{
  background: lightskyblue;
  color: white;
}
.cicon, .link_text{
  font-size: 20px;
}
.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}