.post {
    height:max-content;
    width: 500px;
    margin: 20px 0px -10px 50px;
  }
  
  .post__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .post__headerAuthor {
    display: block;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
  }
  
  .post__headerAuthor > span {
    color: blue;
    font-size: 15px;
  }
  
  .post__image > img {
    width: 80%;
    border-radius: 50px;
    border: 0.6px solid rgba(128, 128, 128, 0.516);
  }
  
  /* .post__footer {
  } */
  
  .post__footerIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .postIcon {
    padding: 1px;
    font-size: 10px;
  }
  
  .postIcon :hover {
    cursor: pointer;
  }